@import "@phosphor-icons/web/regular";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a,
  button,
  [role="button"] {
    touch-action: manipulation;
  }

  .ph {
    display: inline-block;
    width: 1em;
    text-align: center;
    vertical-align: -0.125em;
  }

  @media (hover: hover) and (pointer: fine) {
    *,
    *::before,
    *::after {
      cursor: none !important;
    }
  }
}
